<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="description" content="{meta_description}{/}">
<meta name="keywords" content="{meta_keywords}{/}">
<title>{title}xEpan CMS{/}</title>
<!--xEpan-ATK-Header-Start
                     {$js_block}
                     {$js_include}
                     <script type="text/javascript">
                     $(function(){
                     {$document_ready}
                     });
                     </script>
                     <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
                     xEpan-ATK-Header-End--><meta charset="utf-8">
<!-- Stylesheets --><link href="css/bootstrap.css" rel="stylesheet">
<!-- <link href="css/revolution-slider.css" rel="stylesheet"> --><!-- <link href="css/nouislider.css" rel="stylesheet"> --><!-- <link href="css/nouislider.pips.css" rel="stylesheet"> --><link href="css/style.css" rel="stylesheet">
<!-- Responsive --><meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
<!-- <script type="text/javascript">
  pace.start();
</script> --><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]--><!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
<body style="cursor: default; padding-right: 0px; overflow: auto;"><div class="xepan-v-body xepan-component xepan-sortable-component ui-sortable" xepan-component-name="Main Body" id="e74846aa-978b-4d87-cdad-0f364cc61864" scrollamount="" text-color="" style="">
   <header class="main-header xepan-component xepan-sortable-component ui-sortable" xepan-component-name="main header" id="c1623aa3-4416-4975-84b7-042941c2985d" text-color=""><!--Bounce In Header--><nav id="xepan-8a4de9f4-6015-4f1c-cd69-93699a1a6a83" style="" role="navigation" xepan-component="xepan/cms/Tool_BootStrapMenu" xbootmenu-align="right" xepan-component-name="BootStrap Menu" class="navbar navbar-default xepan-component  menu-navbar" text-color="" data-extra-classes="menu-navbar" scrollamount=""><div style="width: 90%; margin: 0px auto;" inner-width="90" inner-unit="%" class="navbar-inner-container">
            <div class="navbar-header">
               <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
               <div class="navbar-brand-wrapper"><a title="" class="xepan-brand" href="index"><img alt="" src="images/jc-logo.png"></a></div>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
               <ul id="xepan-boostrap-ul" class="nav navbar-nav navbar-right">
<li data-page="index"><a href="index"><i class=" fa fa-home"></i> HOME</a></li>
                  <li data-page="about-us"><a href="about-us"><i class="fa fa-th-large"></i> ABOUT US</a></li>
                  <li data-page="services"><a href="gallery"><i class="fa fa-picture-o"></i> GALLERY</a></li>
                  <li data-page="blog"><a href="blog"><i class="fa fa-edit"></i> BLOG</a></li>
                  <li data-page="contact"><a href="contact"><i class="fa fa-envelope-o"></i> CONTACT US</a></li>
               </ul>
</div>
            <script>
               $(document).ready(function(){
                $('#94873711__pan_cms_tool_bootstrapmenu .dropdown-toggle').dropdown();
                
                $('#94873711__pan_cms_tool_bootstrapmenu .dropdown-submenu a').on("click", function(e){
                    $(this).next('ul').toggle();
                    e.stopPropagation();
                    e.preventDefault();
                });
               });
            </script>
</div>
      </nav></header><div xepan-component="xepan/cms/Tool_TemplateContentRegion" class="xepan-component xepan-sortable-component xepan-page-wrapper ui-sortable" id="895e52d2-211c-432b-e342-69d9eb326f3c" text-color="">{$Content}</div>
   <footer class="main-footer xepan-component xepan-sortable-component ui-sortable" xepan-component-name="Footer section" id="c711d677-3804-406f-a0dd-2ce60847bfce" scrollamount="" text-color="" style="background-color: rgb(39, 0, 48);" xepan-contains="
      "><div id="xepan-0e58ccad-81a2-42bd-e152-72779f0b8c64" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: 90%; margin: 0px auto;" xepan-component-name="Container" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable" text-color="" scrollamount="">
         <div xepan-component="xepan/cms/Tool_Columns" style="min-height:20px;" xepan-component-name="Row/Columns" class="row xepan-component" id="xepan-891d1999-0696-4b20-cefc-9a424ce87726" text-color="" scrollamount="">
            <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="4" data-md="4" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-4 col-md-4" id="xepan-713ce7d6-49b9-4886-db78-85e9f8c03104" text-color="">
               <div id="xepan-7c2b74c4-dcad-4cb8-fc81-a563145f86b2" xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body mce-edit-focus" style="position: relative;" text-color="" contenteditable="false">
<h3>About Us<br>
</h3>
<p><span style="font-size: 14px;" data-mce-style="font-size: 14px;">Jovial Creations is wedding planning and event management company. Our vision is to get hold of all your aspirations and weave them to form a remarkable wedding. We are a team of enthusiastic planners who deliver 100% efficiency in work and present before you a hassle-free wedding</span></p>
<p><span style="font-size: 14px;" data-mce-style="font-size: 14px;">Address: <br>+91-89898787878<br>info@jovialcreations.in</span></p>
</div>
            </div>
            <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="4" data-md="4" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-md-4 col-lg-4" text-color="" id="xepan-cbfbf51a-1b82-4b46-a376-41d4a16d227d">
               <div xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" text-color="" id="xepan-3795a574-4599-42df-f52b-16c143f3e37f" contenteditable="false"><h3>Request a call back<br>
</h3></div>
               <div class="xepan-component xepan-serverside-component contactbar" xepan-component-name="CustomForm" xepan-component="xepan/cms/Tool_CustomForm" id="xepan-4701ca75-e09e-450f-a038-648a02f35bc5" text-color="" customformid="15" scrollamount="" data-extra-classes="contactbar"></div>
            </div>
            <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="4" data-md="4" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-4 col-md-4" text-color="" id="xepan-69a15767-c2c8-4594-e273-508d73272059" scrollamount="">
               <div xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" text-color="" id="xepan-2ea00816-ff1d-408e-fd30-dbf1db3545d9" contenteditable="false"><h3>Find us on<br>
</h3></div>
               <div id="xepan-44c75885-67fe-4561-ad8f-c5b64e2e8ed0" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: 100%; margin: 0px auto;" xepan-component-name="Container" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable" text-color="">
                  <div xepan-component="xepan/cms/Tool_Columns" style="min-height:20px;" xepan-component-name="Row/Columns" class="row xepan-component" id="xepan-1dd0c668-4f1a-441a-9199-027697321228" text-color="">
                     <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="2" data-md="2" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-2 col-md-2 sfacebook" id="xepan-9089d1c6-46ea-4504-e4f9-9f2e6c75498c" text-color="" data-extra-classes="sfacebook"><i id="xepan-f04af1a5-8edd-48fa-93da-36b97d70f9af" xepan-component="xepan/cms/Tool_Icon" icon-link-target="none" icon-class="fa-facebook" icon-size="fa-2x" icon-link="#" icon-align="text-center" style="width: 100%; display: inline-block;" xepan-component-name="Icon" class="xepan-component xepan-cms-icon text-center fa fa-facebook fa-2x" text-color="" onclick="window.open('#', '_self');"></i></div>
                     <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="2" data-md="2" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-2 col-md-2 stwitter" text-color="" id="xepan-f5dd132c-95b4-4f71-a3a9-3ace0a2d59ba" data-extra-classes="stwitter"><i xepan-component="xepan/cms/Tool_Icon" icon-link-target="none" icon-class="fa-twitter" icon-size="fa-2x" icon-link="#" icon-align="text-center" style="width: 100%; display: inline-block;" xepan-component-name="Icon" class="xepan-component xepan-cms-icon text-center fa fa-twitter fa-2x" text-color="" id="xepan-155ef81b-2ce0-4801-beb0-fa42316d8067" onclick="window.open('#', '_self');"></i></div>
                     <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="2" data-md="2" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-2 col-md-2 sinstagram" text-color="" id="xepan-e42a9251-8b7b-43e7-8f4a-809fa1f4f12d" data-extra-classes="sinstagram"><i xepan-component="xepan/cms/Tool_Icon" icon-link-target="none" icon-class="fa-instagram" icon-size="fa-2x" icon-link="#" icon-align="text-center" style="width: 100%; display: inline-block;" xepan-component-name="Icon" class="xepan-component xepan-cms-icon text-center fa fa-instagram fa-2x" text-color="" id="xepan-5ab7a12d-7f81-47e1-ee7d-149e96fdc765" onclick="window.open('#', '_self');"></i></div>
                  </div>
               </div>
            </div>
         </div>
         <div id="xepan-5469a29b-d3b9-424a-e2ee-bf39e6a5756a" xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" text-color="" scrollamount="" contenteditable="false"><hr></div>
         <div xepan-component="xepan/cms/Tool_Columns" style="min-height:20px;" xepan-component-name="Row/Columns" class="row xepan-component" id="xepan-900753fb-147c-4ff4-a8f1-bb1ee25af00b" text-color="">
            <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="10" data-md="10" data-sm="10" data-xs="10" xepan-component-name="Column" class="xepan-cms-column xepan-sortable-component xepan-component ui-sortable col-lg-10 col-md-10 col-sm-10 col-xs-10" id="xepan-595e23e3-e954-4dcb-8843-4eec0ad3a5e5">
               <div id="xepan-c22fe033-3dfa-423b-f915-deb6eb0dc1a0" xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" contenteditable="false"><p>Copyright 2018 jovialcreation.in, All rights reserved powered by <a title="Epan Services,Xavoc Technocrats Pvt. Ltd." href="http://www.epan.in" target="_blank" rel="noopener noreferrer" data-mce-href="http://www.epan.in">Xavoc ERP/CRM</a><br></p></div>
            </div>
            <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="2" data-md="2" data-sm="2" data-xs="2" xepan-component-name="Column" class="xepan-cms-column xepan-sortable-component xepan-component ui-sortable col-lg-2 col-md-2 col-sm-2 col-xs-2" id="xepan-36809409-f4d0-4d89-d060-55cfa8e8141e"></div>
         </div>
      </div>
   </footer>
</div>
<!--End pagewrapper-->
<!--Scroll to top-->
</body>
<p>{$after_body_code}
</p>
<script type="text/javascript">
  $(document).ready(function(){
    $('.pageloader').fadeOut('fast');
    $('.xepan-v-body').fadeIn('fast');
  });
</script>
</html>
