<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="description" content="{meta_description}{/}">
<meta name="keywords" content="{meta_keywords}{/}">
<title>{title}xEpan CMS{/}</title>
<!--xEpan-ATK-Header-Start
                     {$js_block}
                     {$js_include}
                     <script type="text/javascript">
                     $(function(){
                     {$document_ready}
                     });
                     </script>
                     <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
                     xEpan-ATK-Header-End--><meta charset="utf-8">
<!-- Stylesheets --><link href="css/bootstrap.css" rel="stylesheet">
<!-- <link href="css/revolution-slider.css" rel="stylesheet"> --><!-- <link href="css/nouislider.css" rel="stylesheet"> --><!-- <link href="css/nouislider.pips.css" rel="stylesheet"> --><link href="css/style.css" rel="stylesheet">
<!-- Responsive --><meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]--><!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
<body style="cursor: default; padding-right: 0px; overflow: auto;"><div class="xepan-v-body xepan-component xepan-sortable-component ui-sortable" xepan-component-name="Main Body" id="e74846aa-978b-4d87-cdad-0f364cc61864" scrollamount="">
    <header class="main-header xepan-component xepan-sortable-component ui-sortable" xepan-component-name="main header" id="c1623aa3-4416-4975-84b7-042941c2985d" text-color=""><!--Bounce In Header--><div class="bounce-in-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="index.html" class="img-responsive"><img src="images/logo-small.jpg" alt=""></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                	<!-- Main Menu -->
                    <nav class="main-menu"><div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
<li class="current dropdown">
<a href="#">Home</a>
                                    <ul class="dropdown-menu">
<li><a href="index.html">Homepage 01</a></li>
                                        <li><a href="index-2.html">Homepage 02</a></li>
                                        <li><a href="index-3.html">Homepage 03</a></li>
                                    </ul>
<div class="dropdown-btn"></div>
<div class="dropdown-btn"></div>
</li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li class="dropdown">
<a href="#">Our Services</a>
                                    <ul class="dropdown-menu">
<li><a href="services.html">Services Style One</a></li>
                                        <li><a href="services-2.html">Services Style Two</a></li>
                                    </ul>
<div class="dropdown-btn"></div>
<div class="dropdown-btn"></div>
</li>
                                <li class="dropdown">
<a href="#">Our Property</a>
                                    <ul class="dropdown-menu">
<li><a href="property-grid.html">Property Grid View</a></li>
                                        <li><a href="property-list.html">Property List View</a></li>
                                        <li><a href="property-search.html">Property Search</a></li>
                                        <li><a href="single-property.html">Single Property</a></li>
                                    </ul>
<div class="dropdown-btn"></div>
<div class="dropdown-btn"></div>
</li>
                                <li class="dropdown">
<a href="#">Our Blog</a>
                                    <ul class="dropdown-menu">
<li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
<div class="dropdown-btn"></div>
<div class="dropdown-btn"></div>
</li>
                                <li class="dropdown">
<a href="#">Contact Us</a>
                                    <ul class="dropdown-menu from-right">
<li><a href="contact.html">Contact Style One</a></li>
                                        <li><a href="contact-2.html">Contact Style Two</a></li>
                                    </ul>
<div class="dropdown-btn"></div>
<div class="dropdown-btn"></div>
</li>
                            </ul>
</div>
                    </nav><!-- Main Menu End-->
</div>
                
            </div>
        </div>
    
    <nav id="xepan-8a4de9f4-6015-4f1c-cd69-93699a1a6a83" style="" role="navigation" xepan-component="xepan/cms/Tool_BootStrapMenu" xbootmenu-align="right" xepan-component-name="BootStrap Menu" class="navbar navbar-default xepan-component  menu-navbar" text-color="" data-extra-classes="menu-navbar" scrollamount=""><div style="width: 90%; margin: 0px auto;" inner-width="90" inner-unit="%" class="navbar-inner-container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <div class="navbar-brand-wrapper"><a title="" class="xepan-brand" href="index"><img alt="" src="images/jc-logo.png"></a></div>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul id="xepan-boostrap-ul" class="nav navbar-nav navbar-right">
<li data-page="index"><a href="index"><i class=" fa fa-home"></i> HOME</a></li>
<li data-page="about-us"><a href="about-us"><i class="fa fa-th-large"></i> ABOUT US</a></li>
<li data-page="services"><a href="services"><i class="fa fa-picture-o"></i> GALLERY</a></li>
<li data-page="blog"><a href="blog"><i class="fa fa-edit"></i> BLOG</a></li>
<li data-page="contact"><a href="contact"><i class="fa fa-envelope-o"></i> CONTACT US</a></li>
</ul>
</div>
    <script>
      $(document).ready(function(){
      	$('#94873711__pan_cms_tool_bootstrapmenu .dropdown-toggle').dropdown();
      	
      	$('#94873711__pan_cms_tool_bootstrapmenu .dropdown-submenu a').on("click", function(e){
      	    $(this).next('ul').toggle();
      	    e.stopPropagation();
      	    e.preventDefault();
      	});
      });
    </script>
</div>
</nav></header><div xepan-component="xepan/cms/Tool_TemplateContentRegion" class="xepan-component xepan-sortable-component xepan-page-wrapper ui-sortable" id="895e52d2-211c-432b-e342-69d9eb326f3c" text-color="">{$Content}</div>
<footer class="main-footer xepan-component xepan-sortable-component ui-sortable" xepan-component-name="Footer section" id="c711d677-3804-406f-a0dd-2ce60847bfce" scrollamount="" text-color="" style="background-color: rgb(39, 0, 48);"><div class="auto-container">
            <div class="row clearfix">
                <!--Column-->
                <div class="column col-lg-4 col-md-12 col-xs-12 xepan-component xepan-sortable-component ui-sortable" id="xepan-6f35026d-ca24-49c1-e352-af1207a52281" text-color="" scrollamount="">
                    <div id="xepan-40496f95-bc0a-4d72-bd05-f3b237377fc0" xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" text-color="" contenteditable="false"><h3>JOVIAL CREATION<br>
</h3></div>

                    
                <div id="xepan-9cac8d40-55ab-4673-cb17-2e594b4d611e" xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" text-color="" contenteditable="false"><p>Edit this text</p></div>
</div>
<div class="column col-lg-4 col-md-12 col-xs-12 xepan-component xepan-sortable-component ui-sortable" text-color="" scrollamount="" id="xepan-7f6b7242-6ba5-48e2-dabe-01e2c33f649d">
                    <div xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" text-color="" id="xepan-04a57450-6957-4dbf-ab10-6ae104d5100b" contenteditable="false"><h3>CONTACT US<br>
</h3></div>

                    
                <div xepan-component="xepan/cms/Tool_Columns" style="min-height:20px;" xepan-component-name="Row/Columns" class="row xepan-component" id="xepan-ad630270-13af-4ebf-c3c5-c211195308a5" text-color="">
  
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="2" data-md="4" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-md-4 col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-2" id="xepan-5cc1c420-8769-4301-eb7f-e10cc411de65" text-color=""><i id="xepan-331ca73f-b0a0-4a2b-9b5d-36152f7c7b6f" xepan-component="xepan/cms/Tool_Icon" icon-link-target="none" icon-class="fa-map-marker" icon-size="fa-2x" icon-link="#" icon-align="text-center" style="width:100%;" xepan-component-name="Icon" class="xepan-component xepan-cms-icon fa text-center fa-map-marker fa-2x" text-color="" onclick="window.open('#', '_self');"></i></div>
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="10" data-md="10" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-10 col-md-10" id="xepan-7e435d32-393f-4b17-b4cb-c802cb28a909" text-color=""><div id="xepan-4d68639a-5164-48b5-d35e-946b9be5c40a" xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" text-color="" contenteditable="false"><p><span style="font-size: 18px;" data-mce-style="font-size: 18px;">Address</span><br></p></div></div>
</div>
<div xepan-component="xepan/cms/Tool_Columns" style="min-height:20px;" xepan-component-name="Row/Columns" class="row xepan-component" text-color="" id="xepan-0e69189d-51a9-4658-ff8b-e2e3ae2c10ca">
  
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="2" data-md="4" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-md-4 col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-2" text-color="" id="xepan-97a47d49-5dcf-4017-b6e3-445a80f01031"><i xepan-component="xepan/cms/Tool_Icon" icon-link-target="none" icon-class="fa-phone" icon-size="fa-2x" icon-link="#" icon-align="text-center" style="width:100%;" xepan-component-name="Icon" class="xepan-component xepan-cms-icon fa text-center fa-phone fa-2x" text-color="" id="xepan-bd425237-40b3-45a0-bb52-b7a3866cac8f" onclick="window.open('#', '_self');"></i></div>
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="10" data-md="10" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-10 col-md-10" text-color="" id="xepan-905e7c18-e31e-421c-ce01-b2e089ee24bb">
<div xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" id="xepan-bf250330-6138-439f-b6da-c727e6e8f2c0" text-color="" contenteditable="false"><p> <br></p></div>
<div xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative; display: block;" text-color="" id="xepan-1b1dd168-d7fe-4826-ab01-329f3eabcb96" contenteditable="false"><p><span style="font-size: 18px;" data-mce-style="font-size: 18px;">+91- 8787878787</span><br></p></div>
</div>
</div>
<div xepan-component="xepan/cms/Tool_Columns" style="min-height:20px;" xepan-component-name="Row/Columns" class="row xepan-component" text-color="" id="xepan-be532f14-4b8d-4760-ace1-35b0271ae57d">
  
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="2" data-md="4" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-md-4 col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-2" text-color="" id="xepan-c8c71a0f-3723-4ad5-9df8-eda4ec7d41af"><i xepan-component="xepan/cms/Tool_Icon" icon-link-target="none" icon-class="fa-envelope-o" icon-size="fa-2x" icon-link="#" icon-align="text-center" style="width:100%;" xepan-component-name="Icon" class="xepan-component xepan-cms-icon fa text-center fa-envelope-o fa-2x" text-color="" id="xepan-59a20ea7-571c-4aa3-a043-9cf6aace9984" scrollamount="" onclick="window.open('#', '_self');"></i></div>
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="10" data-md="10" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-10 col-md-10" text-color="" id="xepan-b0a71a8b-f811-440d-e613-248022c6f191"><div xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" id="xepan-34c44abd-a329-4349-a33b-8792b7cc6ab0" contenteditable="false"><p><span style="font-size: 18px;" data-mce-style="font-size: 18px;">Address</span><br></p></div></div>
</div>
</div>
<div class="column col-lg-4 col-md-12 col-xs-12 xepan-component xepan-sortable-component ui-sortable" text-color="" scrollamount="" id="xepan-697c4870-1e6b-42e4-9eec-fa387ca546bb">
                    <div xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" text-color="" id="xepan-eacb0d6f-8adf-480f-ad1a-c7a0a66d8455" contenteditable="false"><h3>SOCIAL LINKS<br>
</h3></div>

                    
                <div xepan-component="xepan/cms/Tool_Columns" style="min-height: 20px; padding-top: 5%;" xepan-component-name="Row/Columns" class="row xepan-component" id="xepan-5621ef61-8678-441e-fdee-71b14e60d5cf" text-color="">
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="3" data-md="3" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-3 col-md-3" id="xepan-009f157e-9a93-40dc-b8e7-68ae7d1abb29" text-color=""><i id="xepan-41b5bb4f-2fef-4e8f-b2e9-c5b1775006b1" xepan-component="xepan/cms/Tool_Icon" icon-link-target="none" icon-class="fa-facebook" icon-size="fa-2x" icon-link="#" icon-align="text-center" style="width:100%;" xepan-component-name="Icon" class="xepan-component xepan-cms-icon fa text-center fa-facebook fa-2x" text-color="" onclick="window.open('#', '_self');"></i></div>
<div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="3" data-md="3" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-3 col-md-3" text-color="" id="xepan-0db44445-5001-41cc-a20b-9dd3c3a1d418"><i xepan-component="xepan/cms/Tool_Icon" icon-link-target="none" icon-class="fa-twitter" icon-size="fa-2x" icon-link="#" icon-align="text-center" style="width:100%;" xepan-component-name="Icon" class="xepan-component xepan-cms-icon fa text-center fa-twitter fa-2x" text-color="" id="xepan-6d65affa-3060-4f9b-a5cf-815ef794cf29" onclick="window.open('#', '_self');"></i></div>
<div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="3" data-md="3" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-3 col-md-3" text-color="" id="xepan-ebe0bd94-8f62-47fa-cdd1-b4bcbf8b7b3d"><i xepan-component="xepan/cms/Tool_Icon" icon-link-target="none" icon-class="fa-instagram" icon-size="fa-2x" icon-link="#" icon-align="text-center" style="width:100%;" xepan-component-name="Icon" class="xepan-component xepan-cms-icon fa text-center fa-instagram fa-2x" text-color="" id="xepan-1374e3e6-231e-4b4f-9d37-7ed3afd9f9bf" onclick="window.open('#', '_self');"></i></div>
  
  
</div>
</div>
                
                <!--Column-->
                <div class="column col-lg-8 col-md-12 col-xs-12">
                    <div class="row clearfix">
                        
                        
                        
                        
                    </div>
                </div>
                
            </div>
        </div>
    </footer>
</div>

<!--End pagewrapper-->

<!--Scroll to top-->
</body>
<p>{$after_body_code}
</p>
</html>
